https://{$DOMAIN} {
    tls {$CERT_CONFIG}
    log stdout

    rewrite /room/.* to /
    root /var/www/ttbud/web/
}

wss://{$DOMAIN}:{$API_WEBSOCKET_PORT} {
    tls {$CERT_CONFIG}
    log stdout
    proxy / api:{$API_WEBSOCKET_PORT} {
        websocket
    }
}
